{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="content-section">
        <h2>Редактирай потребител</h2>
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.phone_number.label(class="form-control-label") }}
                <small class="form-text text-muted">По избор</small>
                {{ form.phone_number(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.biography.label(class="form-control-label") }}
                {{ form.biography(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.expertise.label(class="form-control-label") }}
                {{ form.expertise(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.profile_picture.label(class="form-control-label") }}
                {{ form.profile_picture(class="form-control-file") }}
            </div>
            <div class="form-group">
                {{ form.role.label(class="form-control-label") }}
                {{ form.role(class="form-control") }}
            </div>
            <div class="form-group">
                {{ form.repair_shop_pictures.label(class="form-control-label") }}
                {{ form.repair_shop_pictures(class="form-control-file") }}
            </div>
            <button type="submit" class="btn btn-primary">Запази промените</button>
        </form>
        
        <!-- Display current repair shop images -->
        <h3>Снимки на сервиза</h3>
        <div class="image-grid">
            {% for image in repair_shop_images %}
            <div class="image-container">
                <img src="{{ url_for('static', filename='repair_shop_pics/' + image.image_file) }}" class="grid-img" alt="Repair shop image">
                <form action="{{ url_for('delete_repair_shop_image_admin', image_id=image.id) }}" method="POST">
                    <button type="submit" class="btn btn-danger btn-sm btn-delete-image">Delete</button>
                </form>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
