<!-- home.html -->
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <!-- Hero Section -->
    <div class="jumbotron text-center">
        <h1>Добре дошли в гаража</h1>
        <p>Мястото където ще намерите точния механик.</p>
        <a href="{{ url_for('register') }}" class="btn btn-primary btn-lg">Регистрация</a>
    </div>
    
    <!-- Informational Paragraph -->
    <div class="info-paragraph">
        <p>Ето как работи: <br>
            Този ап е направен от група механици с цел бърза и лесна комуникация с клинети. <br>
            Опишете вашият проблем в полето и някой от нас ще ви отговори, ориентира или препрати към подходящият специалист. <br>
            Анонимни потребители могат само да зададът въпрос, само регистрирани потребители могат да участват в дискусия. <br>
            Само регистрирани механици могат да отговарят на въпроси.

        </p>
    </div>
    <hr>
    
    <!-- Post Form -->
    <form method="POST" action="{{ url_for('new_post') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="content" class="form-label">Опишете вашият проблем. Препоръчително е да се регистрирате</label>
            {{ form.content(class="form-control", placeholder="Пример:Нисан Патрол смяна на масло и филтри. Кой може да го направи тази седмица") }}
        </div>
        <button type="submit" class="btn btn-primary">Изпрати запитване</button>
    </form>
    <hr>

    <!-- Latest Posts -->
    {% for post in posts %}
        <article class="media content-section">
            <a href="{{ url_for('post', post_id=post.id) }}" class="stretched-link"></a>
            <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{{ url_for('post', post_id=post.id) }}">{{ post.author.username }}</a>
                    <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
                </div>
                <p class="article-content">{{ post.content[:200] }}...</p>
                <div id="comments-{{ post.id }}" class="comments-section">
                    {% for comment in post.comments[:2] %}
                        <div class="media mt-2">
                            <img class="rounded-circle comment-img" src="{{ url_for('static', filename='profile_pics/' + comment.author.image_file) }}">
                            <div class="media-body">
                                <h6 class="mt-0">
                                    {% if comment.author.is_mechanic() %}
                                        <a href="{{ url_for('mechanic_profile', mechanic_id=comment.author.id) }}">{{ comment.author.username }}</a>
                                    {% else %}
                                        {{ comment.author.username }}
                                    {% endif %}
                                </h6>
                                {{ comment.content }}
                                <small class="text-muted">{{ comment.date_posted.strftime('%Y-%m-%d %H:%M') }}</small>
                            </div>
                        </div>
                    {% endfor %}
                    {% if post.comments|length > 2 %}
                        <a href="#" class="view-all-comments" data-post-id="{{ post.id }}">View all comments...</a>
                        <a href="#" class="collapse-comments" data-post-id="{{ post.id }}" style="display: none;">Collapse comments</a>
                    {% endif %}
                </div>
            </div>
        </article>
        <hr>
    {% endfor %}
</div>
{% endblock %}
