<!-- mechanic_profile.html -->
{% extends "layout.html" %}
{% block content %}
<div class="content-section">
    <div class="media">
        <img class="mr-3 rounded-circle" src="{{ url_for('static', filename='profile_pics/' + mechanic.image_file) }}" alt="Mechanic profile picture" style="width: 100px; height: 100px;">
        <div class="media-body">
            <h5 class="mt-0">{{ mechanic.username }}</h5>
            <p>Phone: {{ mechanic.phone_number }}</p>
            <p>Member since: {{ mechanic.date_created.strftime('%Y-%m-%d') }}</p>
            <p>Expertise: {{ mechanic.expertise }}</p>
            <p>Biography: {{ mechanic.biography }}</p>
        </div>
    </div>
    <hr>
    <h4>Repair Shop Images</h4>
    <div class="row">
        {% for image in repair_shop_images %}
            <div class="col-md-4">
                <img src="{{ url_for('static', filename='repair_shop_pics/' + image.image_file) }}" class="img-fluid">
            </div>
        {% endfor %}
    </div>
    {% if current_user.is_authenticated and current_user.id == mechanic.id %}
        <a href="{{ url_for('update_mechanic_profile') }}" class="btn btn-primary mt-3">Актуализиране на профила</a>
    {% endif %}
</div>
{% endblock %}
