{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
    <div class="content-section">
        <h1>Политика за поверителност</h1>
        <p>Последна актуализация: 25.07.2024</p>
        
        <p>Ние сме ангажирани с опазването на вашата лична информация и правото ви на поверителност. Ако имате въпроси или притеснения относно нашата политика или нашите практики по отношение на вашата лична информация, моля свържете се с нас на alabalistic@gmail.com.</p>
        
        <h2>Информация, която събираме</h2>
        <p>Събираме лична информация, която доброволно ни предоставяте при регистрация в приложението, изразяване на интерес за получаване на информация за нас или нашите продукти и услуги, при участие в дейности в приложението или при друг контакт с нас.</p>
        <p>Личната информация, която събираме, зависи от контекста на вашите взаимодействия с нас и приложението, от избора, който правите и от продуктите и функциите, които използвате. Личната информация, която събираме, може да включва следното:</p>
        <ul>
            <li><strong>Име и данни за контакт:</strong> Събираме вашето име, имейл адрес, телефонен номер.</li>
            <li><strong>Удостоверителни данни:</strong> Събираме пароли, подсказки за пароли и подобна информация за сигурност, използвана за удостоверяване и достъп до акаунта.</li>
            <!-- <li><strong>Данни за плащане:</strong> Събираме данни, необходими за обработка на вашето плащане, ако правите покупки, като например номера на вашия платежен инструмент (като номер на кредитна карта) и защитния код, свързан с вашия платежен инструмент.</li> -->
        </ul>
        
        <h2>Как използваме вашата информация</h2>
        <p>Използваме лична информация, събрана чрез нашето приложение за различни бизнес цели, описани по-долу. Ние няма да продаваме вашата лична информация на трети страни. Използваме информацията за:</p>
        <ul>
            <li>Управление на потребителски акаунти и осигуряване на сигурност и защита.</li>
            <li>Подобряване на потребителското изживяване и предоставяне на персонализирани услуги.</li>
            <li>Отговор на запитвания и предоставяне на потребителска поддръжка.</li>
            <li>Изпращане на административни съобщения и маркетингови комуникации.</li>
        </ul>

        <h2>Споделяне на вашата информация</h2>
        <p>Ние не продаваме и не споделяме вашата лична информация с трети страни за техни собствени маркетингови цели. Споделяме информация само с вашето съгласие, за да спазваме закони, да защитаваме вашите права или да изпълняваме бизнес задължения.</p>

        <h2>Сигурност на вашата информация</h2>
        <p>Използваме административни, технически и физически мерки за сигурност, за да защитим вашата лична информация. Въпреки това, нито един метод на предаване по интернет или метод на електронно съхранение не е 100% сигурен и не можем да гарантираме абсолютната сигурност на вашата информация.</p>

        <h2>Вашите права и избори</h2>
        <p>Имате право да поискате достъп до, корекция или изтриване на вашата лична информация, която съхраняваме. Ако искате да упражните тези права, моля свържете се с нас на [Имейл за контакт].</p>

        <h2>Контакт с нас</h2>
        <p>Ако имате въпроси или притеснения относно тази политика за поверителност, можете да се свържете с нас на [Имейл за контакт].</p>
    </div>
</div>
{% endblock %}
